<div class="row">
<div class="col-12 col-md-9 col-lg-6">
<h3>Edit <%= resource_name.to_s.humanize %></h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div id="error_explanation">
    <%= devise_error_messages! %>
  </div>

  <div id="image" class="user-image" data-user-id = <%= current_user.id %>></div>

  <div class="form-group">
    <%= f.label :name , "Name" %>
    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>
  </div>

  <div class="form-group">
    <%= f.label :nickname , "nickname" %>
    <%= f.text_field :nickname, autofocus: true, class: 'form-control', placeholder: 'Nickname' %>
  </div>

  <div class="form-group">
    <%= f.label :hobbys , "hobbys" %>
    <%= f.text_field :hobbys, autofocus: true, class: 'form-control', placeholder: 'hobbys' %>
  </div>


  <div class="form-group">
    <%= f.label :locale , "locale" %>
    <br/>
    <select name = "locale" class="custom-select">
      <%= options_for_select([['russian', 'ru'], ['English', 'en']]) %>
    </select>
  </div>

  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>
</div>
<div class="col-12 col-md-3 col-lg-6">
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Back", :back %>
</div>
</div>