<div class="col-5 post-preview" onClick="window.location.href = '<%= manual_path(manual.id) %>';">
      <div class="card">
      <div class="card-header">
        <%= manual.name %>
        <%= new_manual?(manual) %>
      </div>
      <div class="card-block">
        <blockquote class="card-blockquote">
          <%= manual.description||t('view.manual.empty_description') %>
        </blockquote>
        <hr/>
        <blockquote class="card-blockquote user-name">
          <%= manual.user %>
          <br/>
          <%= manual.created_at.to_date %>
        </blockquote>
      </div>
    </div>
  </div>