<div class="row">
  <div class="col-6"  ></div>
  <div class="col-xs-6  main-title">
    <h1><%= @manual.name %></h1>
  </div>
</div>




<p>
  <strong><%= Manual.human_attribute_name("author") %>:</strong>
  <%= @manual.user %>
</p>
 <%= content_tag :div, nil, id: "manual", data: { "initial-state" => manual_json(@manual)} %>

<%= link_to t('action.edit'), edit_manual_path(@manual) %> |
<%= link_to t('action.back'), manuals_path %>
