<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'How To Make', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <form class="form-inline my-2 my-lg-0" action="<%= manuals_url %>">
        <input class="form-control mr-sm-2" type="text" name="search_text" placeholder="<%= t('view.search') %>">
      </form>
      <li class="nav-item">
        <%= link_to t('view.manuals'), manuals_path, class: 'nav-link' %>
      </li>
      <% if can? :manage, User %>
        <li class="nav-item">
          <%= link_to t('view.users'), users_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('view.categories'), categories_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span><%= current_user.to_s %></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to t('action.devise.edit_profile'), edit_user_registration_path, class: 'dropdown-item' %>
          <%= link_to t('action.devise.log_out'), destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to t('action.devise.log_in'), new_user_session_path, class: 'nav-link' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>